.App {
  font-family: "Fira Sans", sans-serif;
  width: 100vw;
  overflow: auto;
  &__title {
    font-size: 2rem;
    text-align: center;
    margin: 25px auto;
    font-weight: bold;
    color: #5680f9;
  }
}
.toast.toast-warning {
  background-color: #f89406 !important;
}
.toast.toast-success {
  background-color: #51a351 !important;
}
